.flex {
  display: flex;
}

.primary {
  color: $primary;
}

.secondary {
  color: $secondary;
}

.alt-bg {
  background: $alternate-background;
}

.underline a {
  display: inline-block;
  transition: all 100ms linear;
  background: linear-gradient(to right, $primary 0%, $secondary 100%);
  background-size: 0px 6px;
  background-repeat: no-repeat;
  background-position: left 95%;
  &:hover {
    background-size: 100% 6px;
  }
}

.social-icons {
  margin-top: 2rem;
  a {
    color: #fff;
    margin: 0 .5rem;
    &:hover {
      text-decoration: none;
      color: $primary;
    }
  }
}

// CSS For Transformicons
$tcon-size: 40px !default;
$tcon-transition: .3s !default;
$tcon-jstransform: 'tcon-transform' !default;

$tcon-svgchevron-size: $tcon-size !default;
$tcon-svgchevron-color: black !default;
$tcon-svgchevron-strokew: 1px !default;
$tcon-svgchevron-timing: 3s !default;

@keyframes chevron-pulse {
  0%   { opacity: 0; }
  40%  { opacity: 1; }
  80%  { opacity: 0; }
  100% { opacity: 0; }
}

.scroll-arrow {
    position: absolute;
    bottom: 96px;
    left: 50%;
    right: 50%;
    font-weight: 300;
    cursor: pointer;
}

.text-center {
    text-align: center!important;
}

.tcon-svgchevron {
  height: $tcon-svgchevron-size;
  width: $tcon-svgchevron-size;
}

.tcon-svgchevron path {
  animation: chevron-pulse $tcon-svgchevron-timing infinite cubic-bezier(0.4, 0, 0.2, 1);
  fill: transparent;
  stroke: $tcon-svgchevron-color;
  stroke-width: $tcon-svgchevron-strokew;
}

@for $i from 1 through 3 {
  .tcon-svgchevron path.a#{$i} {
    animation-delay: -($i - ($i/2)) + 0.5s;
  }
}
